{
  "createTime": "2025-07-24T07:35:03.439244989Z",
  "defaultRelease": "projects/check-docs-in-go-slash-sredemo/locations/europe-west1/releases/sample-vm-v2-0-4",
  "etag": "ut6sJ-JR8Y7bTPE8-jeOG99RWmyb90YzqLApp90MoP4",
  "name": "projects/check-docs-in-go-slash-sredemo/locations/europe-west1/unitKinds/sandmold-sample-vm",
  "saas": "projects/check-docs-in-go-slash-sredemo/locations/europe-west1/saas/sandmold-hello-world",
  "updateTime": "2025-08-01T07:20:44.305567408Z"
}
