
# Your BAID - mandatory (who pays for this?)
BILLING_ACCOUNT_ID="010405-23D342-257054"
# A mnemonic placeholder name for the billing account - for YOU
BILLING_ACCOUNT_NAME="Placeholder name - optional"
# The Google Cloud identity that will be used for the project
GCLOUD_IDENTITY="admin@sredemo.dev"

# The Google Cloud project to use for billing and API enablement
GOOGLE_CLOUD_PROJECT="your-gcloud-project-within-the-org"


# Parents to which to attach the projects in the classroom.
#Eg, PARENT_FOLDER_ID="folders/11223344556677"
PARENT_FOLDER_ID="11223344556677"
# You GCP Org id:
ORGANIZATION_ID="791852209422"
# This is pleonastic, but please fill it
ORGANIZATION_DOMAIN="your-organization-domain.com"


# Make it true to create and delete a test project as part of the `just check-setup` magic command.
CREATE_AND_DELETE_TEST_PROJECT=false
