.echodo_history
.bin/
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Terraform files
**/.terraform/*
*.tfstate
*.tfstate.*
workspaces/*/*_apply.log

# Python
.venv
__pycache__/
*.pyc
*.pyo
*.pyd
uv.lock

etc/samples/image.png
.terraform.lock.hcl
tmp/
FUTURE_QUESTIONS_FOR_GEMINI.md
.git-privatize
.env.yaml
t
.DS_Store
iac/terraform/1a_classroom_setup.tgz
iac/terraform/1a_classroom_setup.zip
2025*.log
blah/
drebes*
.ruby-version
.env.*@*
.env.yaml
*.log
