.echodo_history
.bin/
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Terraform files
**/.terraform/*
*.tfstate
*.tfstate.*
iac/terraform/1a_classroom_setup/workspaces/*/*_apply.log

# Python
.venv
__pycache__/
*.pyc
*.pyo
*.pyd
uv.lock

etc/samples/image.png
.terraform.lock.hcl
tmp/
iac/terraform/*/workspaces/
FUTURE_QUESTIONS_FOR_GEMINI.md
